/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FF7F50;
    --secondary-color: #F7EEDD;
    --bg-color: #ede4d3;
    --font-color: #2c2c2c;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--secondary-color);
    color: var(--font-color);
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
header {
    background-color: var(--primary-color);
    color: var(--font-color);
    text-align: center;
    padding: 40px 0;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
}

/* Projects Section */
.projects {
    background-color: var(--secondary-color);
    padding: 40px 0;
}

.projects h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
}

.project {
    background-color: var(--bg-color);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.project p {
    font-size: 16px;
    margin-bottom: 10px;
}

.project a {
    font-size: 16px;
    color: #007BFF;
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: var(--primary-color);
    color: var(--font-color);
    text-align: center;
    padding: 20px 0;
}

footer a {
    color: rgb(236, 240, 180);
}
